.cards {
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	padding: 50px 0;
	flex-direction: row;
	background-size: 100%;
	background: linear-gradient(180deg,rgba(0,0,0,0.1), rgba(0,0,0,1));
}

.card img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.card {
	padding: 20px 20px 0 20px;
	border: solid 1px rgb(220,220,220);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	height: 320px;
	width: 250px;
	margin-top: 40px;
	border-radius: 5px;
}

.cards:last-child {
	padding-bottom: 250px;
}

.cards:first-child {
	padding-top: 150px;
}